ul.img-picker
    display flex
    flex-wrap wrap
    padding 5px

    li
        width 38px
        height 38px
        display table
        border solid 1px #aeaeae
        border-radius 5px
        margin 2px
        cursor pointer
        padding 4px
        line-height 0

        span
            width 28px
            height 28px
            display table
            background-position center

.list-estrutura li span
            background-size 300%