ul.img-picker
    display flex
    flex-wrap wrap
    padding 5px

    li
        width 45px
        height 45px
        display table
        border solid 1px #aeaeae
        border-radius 5px
        margin 1px
        cursor pointer
        padding 5px
        line-height 0

        span
            width 35px
            height 35px
            display table
            background-position center
            background-size 300%
