#quarto
    position relative
    line-height 0

    img
        position relative
        z-index 3

    span
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-size 100% 100%
        background-blend-mode multiply

        &.parede-f
            -webkit-mask-box-image: url(assets/svg/mascara/parede-f.svg)
        &.parede-d
            -webkit-mask-box-image: url(assets/svg/mascara/parede-r.svg)
        &.parede-e
            -webkit-mask-box-image: url(assets/svg/mascara/parede-l.svg)
        &.piso
            -webkit-mask-box-image: url(assets/svg/mascara/piso.svg)
        &.teto
            -webkit-mask-box-image: url(assets/svg/mascara/teto.svg)