#painel
    background black
    width 100%
    min-height 100vh

    &>div
        display flex
        background white
        align-items flex-start

    #menu
        width 250px

    #quarto
        flex: auto
        box-shadow: -1px 0px 7px 1px rgba(0, 0, 0, 0.2)

    &>p
        width: 100%
        flex: 100%
        color: white
        text-align: right 
        padding: 5px 20px
        font-size: 12px

        &>a
            color: #cddc39